In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('1.csv')

In [4]:
df.head()

,Unnamed: 0,Age,Gender,Stream,Internships,CGPA,Hostel,HistoryOfBacklogs,PlacedOrNot,CODECHEF
0,0,22,Male,Electronics And Communication,1,8,1,1,1,NaN
1,1,21,Female,Computer Science,0,7,1,1,1,NaN
2,2,22,Female,Information Technology,1,6,0,0,1,NaN
3,3,21,Male,Information Technology,0,8,0,1,1,NaN
4,4,22,Male,Mechanical,0,8,1,0,1,NaN

In [8]:
for i in codechef:
    if(internships==3 & cgpa==9)
        CODECHEF=6:

SyntaxError: invalid syntax (Temp/ipykernel_18084/1960271369.py, line 2)